.debugInfo{
    border-style: double;
    font-size: 40px;
    position: absolute;
    left: 50px;
    top: 50px;
    background-color: azure;
    opacity: 0.5;
    min-width: 200px;
    min-height: 200px;
}